<%= render 'layouts/headers/admin_header' %>
<div class="container" style="margin-top: 50px;">
  <h2>Admin</h2>

  <div class="col-md-4 list-group">

    <a href="/admin" class="list-group-item"><i class="fa fa-home"></i> Home</a>
    <!--<a href="/admin/analytics" class="list-group-item"><i class="fa fa-google"></i> Google Analytics</a>-->
    <a href="/admin/analytics" class="list-group-item"><i class="fa fa-bar-chart-o"></i> Google Analytics</a>
    <a href="/admin/users" class="list-group-item"><i class="fa fa-users"></i> Users</a>

  </div>
  <div class="col-md-8">
    Content
    <h4>Users: <%= @users.length %></h4>
    <p></p>
  </div>
</div>

