<%= render 'layouts/headers/admin_header' %>
<div class="container" style="margin-top: 20px;">
  <h2>Admin</h2>

  <div class="col-md-12">
    <div class="table-responsive">
      <%= render 'admin/users/table' %>
    </div>
  </div>
</div>