<div class="container">
  <div class="form-padding">
    <h1>Editing User</h1>
  </div>
  <%= render 'form' %>
  <div class="form-padding">
    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', user_path %>
  </div>
</div>