<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Contact</h1>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <form role="form">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Title:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <div class="form-group">
          <label for="pwd">Message:</label>
          <textarea style="height: 20vh" type="password" class="form-control" id="pwd"></textarea>
        </div>
        <button type="submit" class="btn btn-primary col-lg-12"><span>Submit</span><i class="fa fa-spinner fa-spin fa-1x waiting-view"></i></button>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>