<div class="container center">
  <div class="row">
    <div class="col-lg-12">
      <h1>Welcome To Iron Ocean</h1>

      <h2>The project site for Alex McRitchie</h2>
      <a class="btn btn-info" href="/blogs">Blog</a>
    </div>
  </div>
</div>
