/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav {
  z-index: 99;
}

.float-left-image{
  padding: 12px 20px 0 0;
  text-align: center;
  float: right;
  img{
    max-width: 200px;
  }
}

.social-icons{
  a{
    color: #ffffff;
  }
}

.fa-facebook:hover{color: #3B5998;}
.fa-twitter:hover{color: #55ACEE;}
.fa-github:hover{color: #444444;}
.fa-linkedin:hover{color: #007BB6;}

// admin/users
.table.table-center th {
  text-align: center;
}
.table.table-center td {
  text-align: center;
  vertical-align: middle;
}

.table tbody>tr>td{
  vertical-align: top;
}

.table tbody>tr.vert-align-row>td{
  vertical-align: middle;
}

.waiting-view{
  display: none;
}

// Used for icons on footer -> no longer
.absolute{
  position: absolute;
}

.footer{
  height: 20px;
}

.fit-parent{
  width: 100%;
  height: 100%;
}

.small-message{
  font-size: 10px;
  padding: 2px 5px
}

.middle{
  vertical-align: middle;
}