.absolute{
  position: absolute;
}
.middle{
  vertical-align: middle;
}
.fit-parent{
  width: 100%;
  height: 100%;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.margin-10{
  margin: 10px;
}

.margin-top-bottom-10{
  margin: 10 0px;
}