<div class="background-wrapper" data-background-image-path="assets/background_images/iron_ocean_about_background.jpg">
  <div class="container spinner-wrapper">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>
  <div class="background-curtain">
    <img src="#" class="background-image background-sizing">
    <div class="blackLayer background-sizing">

      <div class="container">
        <h1>
          About
        </h1>
        <div class="float-left-image">
          <img src="http://www.cyvasse.io/images/thanks/alexmcritchie.jpg">
          <h5>Alex McRitchie</h5>
          <h6>CEO</h6>
        </div>
        <h2>
          The Iron Ocean is a technology company specializing in Web Applications.  In the Ocean we
          have a single philosophy, The purpose of technology is to make life easier, and we honor that
          credo by creating applications that are functional, simple, and beautiful.
        </h2>

        <h3>
          Functional
        </h3>
        <h4>
          When creating an application, we start with one question, what service are we creating.  A simple question yes,
          but crucial to the creation process.  An application should be born from a need, and that need should never
          be far from the architects conscience.
        </h4>
        <h3>
          Simple
        </h3>
        <h4>
          Minimalism is a core virtue in the Iron Ocean, for content is king and a
          gentlemen never says more than he has to say.
        </h4>
        <h3>
          Beautiful
        </h3>
        <h4>
          Beauty goes deeper than creating an aesthetically pleasing application.  A beautiful website is one
          where users know exactly where to find what they are looking for, and never feel like they are waiting.
          In the Ocean, we make applications built for all users regardless of age or demographic.
        </h4>

      </div>
    </div>
  </div>
</div>