<div class="background-wrapper" data-background-image-path="assets/background_images/iron_ocean_home_background.jpeg">
  <div class="container spinner-wrapper">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>
  <div class="background-curtain">
    <img src="#" class="background-image background-sizing">
    <div class="blackLayer background-sizing">


      <div class="container">
        <h1>
          Welcome To Iron Ocean
        </h1>
        <h3>
          The project site for Alex McRitchie
        </h3>
        <div class="meta">
          <a id="signedOut"></a>
        </div>
      </div>


    </div>
  </div>
</div>