<div class="background-wrapper" data-background-image-path="assets/background_images/iron_ocean_about_background.jpg">
  <div class="container spinner-wrapper">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>
  <div class="background-curtain">
    <img src="#" class="background-image background-sizing">

    <div class="blackLayer background-sizing">


      <div class="container">
        <h1>
          Products
        </h1>
        <h3>
          <%= link_to 'Cyvasse.io', 'http://www.cyvasse.io', target: '_blank' %> is
          the best digital version of Cyvasse, the board game described in George R. R. Martin's
          A Song of Ice and Fire. The rules used in this imagining are a combination of the
          specifics found in the books combined with my views on game design.
        </h3>
        <!--<br>-->
        <h3>
          <%= link_to 'Google Search Position', 'http://www.google-search-position.com/', target: '_blank' %>
          is an application that is used to view how your web application ranks in a google search. Simply type
          in your web application's url, and the desired google search, and we will output your web applications
          position in that google search.
        </h3>

        <h3>
          <%= link_to '10 & 5 Hospitality', 'http://www.10and5hospitality.com/', target: '_blank' %>
          is a platform for restaurant standards evaluation. As an evaluator, you will receive rewards
          for each restaurant you evaluate.
        </h3>

        <div class="meta">
          <a id="signedOut"></a>
        </div>
      </div>


    </div>
  </div>
</div>