<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Products</h1>

      <h2><%= link_to 'Cyvasse.io', 'http://www.cyvasse.io', target: '_blank' %></h2>

      <h3>
        is
        the best digital version of Cyvasse, the board game described in George R. R. Martin's
        A Song of Ice and Fire. The rules used in this imagining are a combination of the
        specifics found in the books combined with my views on game design.
      </h3>

      <h2><%= link_to 'Google Search Position', 'http://www.google-search-position.com/', target: '_blank' %></h2>

      <h3>
        is an application that is used to view how your web application ranks in a google search. Simply type
        in your web application's url, and the desired google search, and we will output your web applications
        position in that google search.
      </h3>

      <h2><%= link_to '10 & 5 Hospitality', 'http://www.10and5hospitality.com/', target: '_blank' %></h2>

      <h3>
        is a platform for restaurant standards evaluation. As an evaluator, you will receive rewards
        for each restaurant you evaluate.
      </h3>
    </div>
  </div>
</div>
