<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">

    <a class="navbar-text pull-left" target="_blank" href="https://www.facebook.com/profile.php?id=651647999"><i class="fa fa-facebook"></i></a>
    <a class="navbar-text pull-left" target="_blank" href="https://twitter.com/McRitchieAlex"><i class="fa fa-twitter"></i></a>
    <a class="navbar-text pull-left" target="_blank" href="https://www.linkedin.com/in/amcritchie"><i class="fa fa-linkedin"></i></a>
    <a class="navbar-text pull-left" target="_blank" href="https://github.com/amcritchie"><i class="fa fa-github"></i></a>

    <a class="navbar-text pull-right" href="http://ironocean.io">
      © 2015 Iron Ocean, LLC
    </a>
    <!--<a href="/about">About<span class="sr-only">(current)</span></a>-->
  </div>
</div>