<div class="navbar navbar-default navbar-fixed-bottom footer" style="height: 10px;">
  <div class="container">
    <a class="navbar-text pull-left" target="_blank" href="https://www.facebook.com/profile.php?id=651647999"><i class="fa fa-facebook fa-2x absojlute"></i></a>
    <a class="navbar-text pull-left" target="_blank" href="https://twitter.com/McRitchieAlex"><i class="fa fa-twitter fa-2x absoljute"></i></a>
    <a class="navbar-text pull-left" target="_blank" href="https://www.linkedin.com/in/amcritchie"><i class="fa fa-linkedin fa-2x absojlute"></i></a>
    <a class="navbar-text pull-left" target="_blank" href="https://github.com/amcritchie"><i class="fa fa-github fa-2x absjolute"></i></a>

    <a class="navbar-text pull-right" href="http://ironocean.io">
      © 2015 Iron Ocean, LLC
    </a>
  </div>
</div>